html {
  box-sizing: border-box;
  font-family: Georgia,serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

h1 {
  font-family: "Sigmar One", cursive;
  text-align: center;
  color: #cc1465;
  font-size: 3rem;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: .75em;
}

div {
    background-color: #ffe500;
}

ul li {
  display: inline-block;
}

.btn {
  background-color: #b2a212;
  padding: .2em .5em .3em;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}
